body {
  margin: 0;
  text-align: center;
  font-family: Inter;
  background: #f4f4f4;
}

#header {
  display: flex;
  flex-direction: column;
  background: #6943ff;
  align-items: center;
  margin: 0;
}

#title {
  color: white;
  font-weight: 800;
  font-style: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -3%;
  text-align: center;
  margin: 30px 51px;
}

#input {
  width: 150px;
  height: 83px;
  font-size: 80px;
  text-align: center;
  background: #6943ff;
  border: 2px solid #b295ff;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-style: Bold;
  font-size: 58px;
  line-height: 24.39px;
  letter-spacing: 0%;
  margin-bottom: 25px;
}

#btn {
  color: #3d3d3d;
  width: 117px;
  height: 42px;
  border: none;
  border-radius: 5px;
  background: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 34px;
}

#body {
  margin: 0;
  padding: 36px 25px;
}

h2 {
  margin: 0;
  color: #5a537b;
  font-weight: 600;
  font-style: Bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

p {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.container {
    background: white;
    padding: 31px 0;
    margin: 0 auto 24px auto;
    max-width: 700px;
    display: block;
    border-radius: 5px;
}